@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,700;1,500&display=swap');

.navHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 1rem;
    background-color: #eee;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: calc(1px + 1.9vmin);
}

.ValHead {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

nav a {
    margin: 0 2rem;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: rgb(192, 78, 78);
    text-decoration: underline;
}

.navHead .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    .navHead .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    .navHead nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #eee;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .navHead .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}